{% extends "blog/base.html" %}<!-- соединяем 2 шаблона -->
{% block content %}
    {% for post in posts %}
        <article class="post">
            {% if post.published_date %} <!-- хотим проверить, не пуста ли запись published_date -->
                <time class="date">
                    {{ post.published_date }}
                </time>
            {% endif %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2> <!--Чтобы
             ссылка из заголовка записи в списке записей вела на страницу с подробным описанием этой
             записи. Post_detail - часть означает, что Django будет ожидать URL-адрес blog/urls.py с
             name=post_detail. (pk=post.pk?) pk — это сокращение от primary key (первичный ключ),
             который является уникальным идентификатором для каждой записи в базе данных. Мы получаем
             доступ к первичному ключу, написав post.pk, так же как и к другим полям
             ( title, author, и т. д.) в нашем Post объекте-->
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}